*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.full{
    height: 100vh;
}
header{
    position: fixed;
    right: 10px;
    top: 20px;
}
.menu{
    text-align: center;
}
nav{
    display: inline-block;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 60%;
    margin-left: 10px;
}
.f-numb{
    background-color: rgb(245, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.full-red{
    background-color: red;
}
.full-yellow{
    background-color: yellow;
}
.full-green{
    background-color: green;
}