*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* GENERAL */
.full{
    height: 100vh;
}

header{
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 1;
}
/* HEADER */
.menu{
    text-align: center;
}

nav{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 60%;
    margin-left: 10px;
}

.f-numb{
    background-color: rgb(245, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* MAIN SECTION RED */
.full-red{
    background-color: red;
    position: relative;
}

h1{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
    text-align: center;
}

h2{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    color: green;
    text-align: center;
}

.full-red img{
    top: 40%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.full-red h1{
    top: 70%;
    bottom: 30%;
    left: 45%;
    right: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* SECTION YELLOW */
.full-yellow{
    background-color: yellow;
    position: relative;
}

.full-yellow img{
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.full-yellow h2{
    font-size: 2em;
    top: 80%;
    bottom: 30%;
    left: 45%;
    right: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
}
/* SECTION GREEN */
.full-green{
    background-color: green;
    position: relative;
}
.full-green img{
    top: 40%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.full-green h1{
    top: 70%;
    bottom: 30%;
    left: 45%;
    right: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
}