*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* GENERAL */
section{
    height: 100vh;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
header{
    position: fixed;
    right: 10px;
    top: 20px;
    z-index: 1;
}
/* HEADER */
.menu{
    text-align: center;
}

nav{
    display: inline-block;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    margin: 30px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-weight: bold;
}
header nav ul li :hover{
    box-shadow: 5px 5px 20px black;
}
.f-numb{
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* MAIN SECTION RED */
.full-red{
    background-color: red;
}

.box img{
width: 100%;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* SECTION YELLOW */
.full-yellow{
    background-color: yellow;
}

.box h2,
 h1{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    color: yellow;
    text-align: center;
    font-size: 3em;
}
/* SECTION GREEN */
.full-green{
    background-color: green;
}
#c-green{
    color: green;
}